<p>
"Machine learning is a very broad topic and a highly active research area. In 
the life sciences, much of what is described as “precision medicine” is an 
application of machine learning to biomedical data. The general idea is to 
predict or discover outcomes from measured predictors. Can we discover new 
types of cancer from gene expression profiles? Can we predict drug response from
a series of genotypes? Here we give a very brief introductions to two major 
machine learning components: clustering and class prediction." - Rafael A. 
Irizarry & Michael I. Love, 2015

This course features basic machine learning for biomedical scientists. In this 
course you will learn to:

- apply hierarchical clustering to gene expression data
- create and interpret a heatmap
- apply regression as a machine learning technique
- apply smoothing to estimate f(x) when the shape is unknown
- perform class prediction
- perform cross-validation for method assessment and parameter choice in 
prediction

Plan to attend all four afternoons of this course.

</p>
