<p>
Master the Tidyverse presents packages to simplify data cleaning,
analysis, and visualization in the R programming language. If you work
with data, you probably spend a lot of time cleaning it and wrangling it
into the correct shape. This course will show you how you can use R to efficiently
clean and wrangle your data into a format that’s ready for analysis. You
will learn about the leading suite of packages known as the Tidyverse,
what tidy data really is, and how to practically achieve it with
packages such as dplyr, tidyr and ggplot.

Plan to attend both days of this course.

</p>
