<div class="row">
  <div class="col-md-6">
    <h3>Mon Oct 17</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Workshop overview and introductions</td></tr>
      <tr> <td>1:20</td>  <td>Clustering</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Conditional Probabilities and Expectations</td></tr>
      <tr> <td>3:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tue Oct 18</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Smoothing</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Smoothing (continued)</td></tr>
      <tr> <td>3:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Wed Oct 19</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Class Prediction</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Class Prediction (continued)</td></tr>
      <tr> <td>3:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thurs Oct 20</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Cross-validation</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Cross-validation (continued)</td></tr>
      <tr> <td>3:30</td>  <td>Post-course survey</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
